/* body {
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 50px;
    background-color: #35d0dc80;
    font-family: sans-serif;
  }
  .input-color {
    position: relative;
    margin-bottom: -29px;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: rgb(139, 17, 17);
    position: absolute;
    left: 5px;
    top: 5px;
}
  .col-type-button{
    margin-left: 70px;
  }
  .col-button{
    margin-left: 10px;
  }
  .btn{
    background: red;
  }
  .col-heading{
    text-align: center;
    font-family: serif;
  }
  .adduser{
    background: lightyellow;
    padding: 6px;
    width: 65px;
    -webkit-appearance: button;
  }
  .usercreationform{
    display: table-caption;
    padding: 44px;
    justify-content: center;
    margin-left: 239px;
}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}
.backtdashboard{
  background: currentColor;
    float: right;
    margin-left: 148px;
}

  
  .form-signin{
    display: grid;
    margin-top: 31px;
    background: white;
    padding: 41px !important;
  }
  .form-signin-heading{
    text-align: center;
    font-size: -webkit-xxx-large;
    font-family: cursive;
  }
  .btn-primary{
    float: right;
    background: brown;
  }
  .btn-info{
    background: darkturquoise;
    color: floralwhite;
    
  }
  .userslist{
    border: solid;
    padding-top: 20px;
    margin-top: 21px;
    background: cornsilk;
  }
  .users-displaybox{
    border: solid;
    padding: 41px;
    background: azure;
    margin-top: 30px;
  }
  .h1{
    text-align: center;
    padding: 26px;
  }
  .navbar{
    border: solid;
    padding: 40px;
    background: rgba(0, 0, 0, 0.1);
  }
  .firstheading{
    text-align-last: center;
    font-size: xx-large;
    font-family: none;
  }
  .button{
    float: right;
    border: crimson;
    background: lawngreen;
    padding: 8px;
    margin-right: 17px;
    border-block-end: inherit;
    font-family: unset;
    margin-top: -25px;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-signin p {
    margin-top: 10px;
  } */